:root {
    --background0-color: #161b15;
    --background0-color-50: #161b1588;
    --font0-color: #ebe0d2;

    --background1-color: #FFFD;
    --background1-color2: #EEED;
    --font1-color: #161b15;
    --font1-color-30: #161b1533;
    --caption1-color: #161b15;

    --main-border-radius: 0.3em;
}
@font-face {
    font-family: 'mainRegular';
    src: url('PTSerif-Regular.ttf');
}
@font-face {
    font-family: 'mainBold';
    src: url('PTSerif-Bold.ttf');
}

font[size='1']{    font-size: 0.8em;}
font[size='2']{    font-size: 0.9em;}
font[size='3']{    font-size: 1em;}
font[size='4']{    font-size: 1.2em;}
font[size='5']{    font-size: 1.4em;}
font[size='6']{    font-size: 1.7em;}
font[size='7']{    font-size: 2em;}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--background0-color);
    font-family: 'mainRegular';
    font-size: 20px;
}

.bgRoot, .bgRootBlur{
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    background: url(bg1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
}
.bgRoot{
    background-size: contain;
    filter: drop-shadow(0 0 0.3em var(--background0-color));
}
.bgRootBlur{
    background-size: cover;
    filter: blur(10px);
    opacity: 0.5;
}

.headerRoot, .footerRoot{
    flex: 0 0 auto;
    background: var(--background0-color);
    color: var(--font0-color);
    z-index: 5;
    box-shadow: 0 0 0.3em var(--background0-color);
    display: flex;
}
.headerMenu{
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}
.headerMenuItem{
    flex: 0 0 auto;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: all 0.3s ease;
}
.headerMenuItem:hover, .headerMenuItemMenu:hover{
    background-color: #FFF3;
}
.headerMenuItemLogo{
    flex: 0 0 auto;
    padding: 0.5em 1em; 
    margin-right: 1em;
}
.headerMenuItemLogo ,.headerMenuItemMenuIcon{   
    background-color: var(--font0-color);
    -webkit-mask-image: url(logo.svg);
    mask-image: url(logo.svg); 
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
}
.headerMenuItemMenuIcon{ 
    width: 2em;
    height: 2em;
    margin: -0.35em 0.5em -0.35em 0;
}
.headerMenuItemMenu{
    flex: 0 0 auto;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: all 0.3s ease;
    display: none;
}

.footerInner{
    flex: 1 1 auto;
    padding: 0.5em 1em;
    text-align: center;
}
.mainRoot{
    flex: 1 1 auto;
}

.mainPageInner{
    display: flex;
    flex-direction: column;
    margin: 0 1em;
    max-width: 70em;
    flex: 1 1 auto;
    position: relative;
}
.mainPageSloganRoot{
    position: absolute;
    left: 0;
    top:10%;
    color: var(--font0-color);
    max-width:90%;
    width: fit-content;
    text-shadow: 0 0 0.3em var(--background0-color);
}
.mainPageSlogan{
    font-size: 2em;
    font-family: 'mainBold';
}
.mainPageProjectsListRoot{
    position: absolute;
    left: 0;
    bottom:10%;
    color: var(--font0-color);
    max-width:90%;
    width: fit-content;
}
.mainButton{
    cursor: pointer;
    padding: 0.5em 1em;
    border: 1px solid var(--font1-color);
    color: var(--font1-color);
    border-radius: var(--main-border-radius);
}
.mainPageProjectsListButton{
    color: var(--font0-color);
    border: 1px solid var(--font0-color);
    background-color: var(--background0-color-50);
    text-shadow: 0 0 0.3em var(--background0-color);
}

#mainPageProjectsFuture, #mainPageAbout{
    background-color: var(--background1-color);
    color: var(--font1-color);
}
#mainPageMyProjects{
    background-color: var(--background1-color2);
    color: var(--font1-color);
}
.mainPageSectionCaption{
    font-family: 'mainBold';
    margin: 1em 0;
    font-size: 1.5em;
    color: var(--caption1-color);
    text-shadow: 0 0 0.3em var(--font1-color-30);
}
.projectsMenuRoot{
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
}
.projectsMenuRoot a{
    text-decoration: none;
    color: var(--font1-color);
    display: flex;
    flex: 0 0 auto;
    width: 32.5%;
    margin-bottom: 1em;
}
.projectsMenuItem{
    flex: 1 1 auto;
    border: 1px solid var(--font1-color-30);
    padding: 1em;
    border-radius: var(--main-border-radius);
    box-shadow: 0 0 0.3em var(--font1-color-30);
    background: var(--background1-color);
}
.projectsMenuRoot a:hover{
    filter: brightness(0.95);
}
.projectsMenuItemDate{
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid var(--font1-color-30);
    font-family: 'mainBold';
}


.projectRoot{
    background-color: var(--background1-color);
    color: var(--font1-color);
    z-index: 1;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    overflow: auto;
}
.projectContentRoot{
    display: flex;
    flex-direction: column;
    margin: 1em;
    max-width: 70em;
    flex: 1 1 auto;
    position: relative;
    flex-direction: column;
}
.backButton{
    width: fit-content;
    margin-bottom: 0.5em;
    padding: 0.3em 1em;
}


.projectContentSector:nth-child(even){
    background-color: #0001;
}

.projectCaption, .settingCaption{
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 0.5em;
}
.projectDate{
    margin-bottom: 1em;
}
.projectSectionCaption, .settingSectionCaption{
    margin-top: 0.5em;
    font-size: 1.5em;
}
.projectSectionCaption::before, .settingSectionCaption::before, .projectContentCaption::before{
    content: " ";
    -webkit-mask-size: contain;
    mask-size: contain;  
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: left center;
    mask-position: left center;
    background-color: var(--font1-color);
    width: 1.3em;
    height: 1em;
    margin: -0.1em 0.2em -0.1em 0 ;
    display: inline-block;
}
.projectSectionCaptionPlace::before{
    mask-image: url(icon_place.svg);
    -webkit-mask-image: url(icon_place.svg);
}
.projectSectionCaptionUserRequirements::before{
    mask-image: url(icon_requirements2.svg);
    -webkit-mask-image: url(icon_requirements2.svg);
}
.projectSectionCaptionTime::before{
    mask-image: url(icon_time.svg);
    -webkit-mask-image: url(icon_time.svg);
}
.projectSectionCaptionDescr::before{
    mask-image: url(icon_descr.svg);
    -webkit-mask-image: url(icon_descr.svg);
}
.projectSectionCaptionTime::before{
    mask-image: url(icon_time.svg);
    -webkit-mask-image: url(icon_time.svg);
}
.projectSectionCaptionTamada::before{
    mask-image: url(icon_tamada3.svg);
    -webkit-mask-image: url(icon_tamada3.svg);
    margin-bottom: -0.4em;
    padding-top: 0.2em;
}
.projectSectionCaptionPrice::before{
    mask-image: url(icon_price.svg);
    -webkit-mask-image: url(icon_price.svg);
}
.projectContentCertificateCaption::before{
    mask-image: url(icon_certificate.svg);
    -webkit-mask-image: url(icon_certificate2.svg);
    margin-bottom: -0.4em;
    padding-top: 0.2em;
}
.projectContentMaterialsCaption::before{
    mask-image: url(icon_material2.svg);
    -webkit-mask-image: url(icon_material2.svg);
}
.projectContentPhotosCaption::before{
    mask-image: url(icon_photo.svg);
    -webkit-mask-image: url(icon_photo.svg);
}
.projectContentRegisterCaption::before{
    mask-image: url(icon_registration.svg);
    -webkit-mask-image: url(icon_registration.svg);
}
.projectContentForAcceptCaption::before{
    mask-image: url(icon_private_info.svg);
    -webkit-mask-image: url(icon_private_info.svg);
}
.projectContentDocCaption::before{
    mask-image: url(icon_doc.svg);
    -webkit-mask-image: url(icon_doc.svg);
}
.projectContentMessageCaption::before{
    mask-image: url(icon_telegram.svg);
    -webkit-mask-image: url(icon_telegram.svg);
}


.projectContentRegisterRoot{
    font-size: 1.2em;
}
.projectContentRegisterCaption, .projectContentMaterialsCaption, .projectContentPhotosCaption, .projectContentCertificateCaption, .projectContentForAcceptCaption{
    font-size: 1.5em;
    line-height: 1em;
    margin-bottom: 1em;
}
.projectContentRegisterUserExist{
    font-size: 0.8em;
}
.projectContentRegisterStatus{
    margin-bottom: 1em;
}
.projectContentRegisterStatus0{
    color: #b80;
}
.projectContentRegisterStatus-1{
    color: #900;
}
.projectContentRegisterStatus1{
    color: #090;
}
.projectPlaceAddress{
    color:#0009;
}


.projectContentCertificateImg{
    max-width: 100%;
    max-height: 10em;
    cursor: pointer;
}
.projectContentMaterialDiv{
    margin: 0.5em 0;
}

.projectRegisterForm{
    width: 100%;
    max-width: 25em;
}
.formFieldRoot{
    display: flex;
    flex-wrap: wrap;    
    margin: 0.5em 0;
}
.formFieldCaption{
    flex: 1 1;
    max-width: 15em;
}
.formFieldInput{
    flex: 1 1;
}
.formFieldInput input, .formFieldInput textarea{
    width: 100%;
}
.formFieldInput input[type='date'] {
    width:max-content;
}

.formFieldRoot{
    display: flex;
    flex-wrap: wrap;    
    margin: 0.5em 0;
}
.formFieldCaption{
    flex: 1 1;
    max-width: 15em;
}
.formFieldInput{
    flex: 1 1;
}
.formFieldInput input, .formFieldInput textarea{
    width: 100%;
}
.formFieldInput input[type='date'] {
    width:max-content;
}
.cardContent{
    padding: 1em;
    overflow: auto;
}
.cardFooter{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tag{
    display: inline-block;
    border: 1px solid #0002;
    padding: 0 0.2em;
    font-size: 0.8em;
}

.pop_up_win {
	color: white;
	background-color: RGBA(0, 0, 0, 0.95);
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 40;
	display: flex;
	flex-direction: column;

}

.pop_up_win .pop_up_top {
	flex: 1 1 auto;
}

.pop_up_win .pop_up_bottom {
	flex: 2 1 auto;
}
.pop_up_middle {
	flex: 0 0 auto;
	max-height: 100%;
	display: flex;
    flex-direction: column;
}
.pop_up_content_root {
    max-width: 90%;
    min-width: 40%;
    width: max-content;
    margin: 0.5em auto;
    background: url(bg1_gold.png), var(--light-color);
    background-size: 5em, cover;
    background-attachment: fixed;
    background-position: center;
    color: #000;
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    position: relative;
    overflow: hidden;
    border-radius: 0.2em;
}
.loginFormWin .pop_up_content_root, .userCardmWin .pop_up_content_root {
    width: 35em;
    min-width: auto;
}
.pop_up_content {
    display: flex;
    flex-direction: column;
    width: 100%;
  /*  overflow: auto;*/
}

.pop_up_win_content {
	width: 90%;
	max-width: 30em;
	margin: 0 auto;
	min-height: 10em;
	box-sizing: border-box;
}

.pop_up_win_close_button{
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    cursor: pointer;
    z-index: 50;
   /* background-color: var(--caption-color);
    border-radius: 0.3em;
    padding: 0.2em;*/
}
.pop_up_win_close_button_inner{
    height: 1.5em;
    width: 1.5em;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;  
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    background-color: var(--caption-color);

    -webkit-mask-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000" style="fill:%230077c8;fill-opacity:1;"> <path  d="M 852.60742,50.939453 A 100,100 0 0 0 781.89648,80.228516 L 76.150391,785.97656 a 100,100 0 0 0 0,141.42188 100,100 0 0 0 141.421879,0 L 923.31836,221.65039 a 100,100 0 0 0 0,-141.421874 100,100 0 0 0 -70.71094,-29.289063 z" /> <path  d="m 146.86133,50.939453 a 100,100 0 0 0 -70.710939,29.289063 100,100 0 0 0 0,141.421874 L 781.89648,927.39844 a 100,100 0 0 0 141.42188,0 100,100 0 0 0 0,-141.42188 L 217.57227,80.228516 A 100,100 0 0 0 146.86133,50.939453 Z" /></svg>');
    mask-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000" style="fill:%230077c8;fill-opacity:1;"> <path  d="M 852.60742,50.939453 A 100,100 0 0 0 781.89648,80.228516 L 76.150391,785.97656 a 100,100 0 0 0 0,141.42188 100,100 0 0 0 141.421879,0 L 923.31836,221.65039 a 100,100 0 0 0 0,-141.421874 100,100 0 0 0 -70.71094,-29.289063 z" /> <path  d="m 146.86133,50.939453 a 100,100 0 0 0 -70.710939,29.289063 100,100 0 0 0 0,141.421874 L 781.89648,927.39844 a 100,100 0 0 0 141.42188,0 100,100 0 0 0 0,-141.42188 L 217.57227,80.228516 A 100,100 0 0 0 146.86133,50.939453 Z" /></svg>');
    
}

.buttonDeleteIcon, .buttonOpenIcon, .buttonAcceptIcon, .buttonDismissIcon{   
    height: 1.4em;
    width: 1.4em;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;  
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    background-color: var(--dark-color);
}
.buttonDeleteIcon{   
    -webkit-mask-image: url(delete_icon.svg);
    mask-image: url(delete_icon.svg);
}
.buttonOpenIcon{   
    -webkit-mask-image: url(open_icon.svg);
    mask-image: url(open_icon.svg);
}
.buttonAcceptIcon{
    -webkit-mask-image: url(accept_icon.svg);
    mask-image: url(accept_icon.svg);
}
.buttonDismissIcon{
    -webkit-mask-image: url(dismiss_icon.svg);
    mask-image: url(dismiss_icon.svg);
}





* {
    scrollbar-color: var(--background1-color) var(--font1-color);
    scrollbar-width: thin;
}

*::-webkit-scrollbar {
    width: 5px;
    background-color: var(--font1-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--background1-color);
}


@media screen and (max-width: 1800px) {
    body {
        font-size: 19px;
    }
}

@media screen and (max-width: 1500px) {
    body {
        font-size: 18px;
    }
}

@media screen and (max-width: 1200px) {
    body {
        font-size: 17px;
    }
    
}
@media screen and (max-width: 1000px) {
    body {
        font-size: 16px;
    }
    .projectsMenuRoot a{
        width: 49%;
    }
    
}
@media screen and (max-width: 700px) {
    body {
        font-size: 15px;
    }
    .headerMenu {
        justify-content: left;
    }
    .headerMenuItemLogo{
        margin-right: 0;
    }
    .headerMenuItemMenu{
        display: flex;
    }

    body:not(.menuVisibled) .headerMenuItem, .headerMenuItemLogo{
        display:none;
    }
    body.menuVisibled .headerMenu{
        flex-direction: column;
    }
}
@media screen and (max-width: 500px) {
    body {
        font-size: 14px;
    }
    .projectsMenuRoot a{
        width: 100%;
    }
}





    /* ОДНОЛИСТОВОЙ слайдер*/

    body,
    .onepage-wrapper,
    html {
        position: static;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .onepage-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex: 1 1 auto;
        position: relative;
        padding: 0;
        -webkit-transform-style: preserve-3d;
        overflow: visible;
    }

    .mainOnePageSlider {
        display: flex;
        flex: 1 1 auto;

    }

    .onepage-wrapper .section {
        width: 100%;
        height: 100%;
        overflow: auto;
        display: flex;
        justify-content: center;
    }

    .onepage-pagination {
        position: absolute;
        right: 20px;
        top: 50%;
        z-index: 5;
        list-style: none;
        margin: 0;
        padding: 0;
        display: none;
    }

    .onepage-pagination li {
        padding: 0;
        text-align: center;
    }

    .onepage-pagination li a {
        padding: 10px;
        width: 4px;
        height: 4px;
        display: block;

    }

    .onepage-pagination li a:before {
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        background: rgba(0, 0, 0, 0.85);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
    }

    .onepage-pagination li a.active:before {
        width: 10px;
        height: 10px;
        background: none;
        border: 1px solid black;
        margin-top: -4px;
        left: 8px;
    }

    .disabled-onepage-scroll,
    .disabled-onepage-scroll .wrapper {
        overflow: auto;
    }

    .disabled-onepage-scroll .onepage-wrapper .section {
        position: relative !important;
        top: auto !important;
        left: auto !important;
    }

    .disabled-onepage-scroll .onepage-wrapper {
        -webkit-transform: none !important;
        -moz-transform: none !important;
        transform: none !important;
        -ms-transform: none !important;
        min-height: 100%;
    }


    .disabled-onepage-scroll .onepage-pagination {
        display: none;
    }

    body.disabled-onepage-scroll,
    .disabled-onepage-scroll .onepage-wrapper,
    html {
        position: inherit;
    }