:root {
    --dark-color: #222;
    --light-color: #f5f5f5;
    --caption-color: #ebc445;
}

body.body_admin {
    max-width: 100%;
}
.projectsMenuRoot {
    max-width: 18em;
    min-width: 13em;
    z-index: 5;
}
.projectContentRoot{
    flex: 4 1;
    display: flex;
    flex-direction: column;
}
.adminTable{
    border-collapse: collapse;margin: 0 auto;
    max-width: 90%;
}
.adminTable th{
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 0.5em;
    border:1px solid #555;
    font-size: 0.8em;
    font-weight: normal;
    text-transform: uppercase;
}
.adminTable td{
    padding: 0.3em 0.5em;
    border:1px solid #CCC;
}
a {
    color: var(--dark-color);
}
.projectsMenuSubItem{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.3em 0.5em;
    background-color: var(--caption-color);
    background-image: url(bg-gold.jpg);
    background-size: cover;
    background-position: center;
    margin: 0 -0.5em 1em 2em;
    text-align: right;
    filter: brightness(0.8);
}
.projectsMenuSubItem a{
    color: var(--dark-color);
    text-decoration: none!important;
}
.projectsMenuSubRoot{
    margin-bottom: 2em;
}